#container div {
  background-color: #335;
  width: 100%;
  margin-bottom: 5px;
  color: white;
  font-size: 3em;
  font-family: sans-serif;
  text-align: center;
  padding: 20px 0;
  box-sizing: border-box;
  transition: margin-left 200ms;
}

#container div.invisible {
  margin-left: -110%;
}

#container {
  padding: 20px;
  background-color: #888;
  height: 400px;
  overflow: scroll;
}